<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mei.chaji"
    tools:ignore="ExtraText">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.MODIFY_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".app.ChajiAPP"
        android:allowBackup="true"
        android:debuggable="false"
        android:icon="@mipmap/ic_launcher"
        android:label="茶机"
        android:networkSecurityConfig="@xml/jz_network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning,HardcodedDebugMode"
        tools:targetApi="n">
        <activity
            android:name=".ui.main.activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|mcc|mnc|navigation"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <receiver
            android:name=".widght.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <receiver android:name=".service.AlarmResetBroadcast"/>





        <activity
            android:name=".ui.main.activity.AdpicActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|mcc|mnc|navigation"
            android:exported="false"
            android:screenOrientation="landscape"
            tools:ignore="DuplicateActivity" />

        <activity
            android:name=".ui.main.activity.MakeTeaActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|mcc|mnc|navigation"
            android:screenOrientation="landscape" />


        <activity
            android:name=".ui.main.activity.PayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|mcc|mnc|navigation"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.main.activity.BuyGoodsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|mcc|mnc|navigation"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.main.activity.RefillPayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|mcc|mnc|navigation"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.main.activity.RefillTeaActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|mcc|mnc|navigation"
            android:screenOrientation="landscape" />
        <!--<activity-->
        <!--android:name=".ui.main.activity.AdpicsActivity"-->
        <!--android:exported="false"-->
        <!--android:configChanges="orientation|keyboardHidden|screenSize|mcc|mnc|navigation"-->
        <!--android:screenOrientation="landscape"-->
        <!--tools:ignore="DuplicateActivity" />-->


        <activity
            android:name=".ui.main.activity.FacePayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|mcc|mnc|navigation"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.main.activity.TestActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|mcc|mnc|navigation"
            android:screenOrientation="landscape" />


        <activity
            android:name=".ui.main.activity.OpsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|mcc|mnc|navigation"
            android:screenOrientation="landscape" />


        <service android:name="org.eclipse.paho.android.service.MqttService" />
        <service android:name=".service.MQTTService" />
        <service android:name=".service.AlarmService"/>
        <service android:name=".service.AlarmResetService"/>

        <receiver android:name=".service.AlarmReceiver"/>


        <receiver android:name=".service.ReplaceAddRemoveBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- 监听网络变化的广播 -->
        <receiver
            android:name=".service.NetworkReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>


    <uses-permission
        android:name="android.permission.REBOOT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED"
        tools:ignore="ManifestOrder" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.SET_TIME_ZONE"/>


    <!--android静默安装权限-->
    <uses-permission
        android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <!-- Mqtt服务 -->




</manifest>